<footer class="bg-dark text-white text-center py-4 px-0">
    <div class="container ">
        <div class="row g-0">
            <div class="col-md-4">
                <h5>İletişim Bilgileri</h5>
                <p>Adres: Kemer Köprü, Bülent Ecevit Blv. No:79, 74100 Bartın Merkez, 74100 Merkez/Bartın</p>
                <p>Telefon: 0542 668 35 32</p>
            
            </div>
            <div class="col-md-4">
                <h5>Hızlı Erişim</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}">Ana Sayfa</a></li>

                </ul>
            </div>
            <div class="col-md-4">
                <h5>Sosyal Medya</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/ahmet.aytan.56?mibextid=ZbWKwL"><i class="fab fa-facebook"></i> Facebook</a></li>
                 
                </ul>
            </div>
        </div>
    </div>
</footer>